<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSVGPathEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WebSVGPathEditor.My.MySettings>
            <setting name="attrnames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="attrvalues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="recentfiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="htmlWarp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="htmlOptimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gridSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="stickyGridSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="decimals" serializeAs="String">
                <value>2</value>
            </setting>
        </WebSVGPathEditor.My.MySettings>
    </userSettings>
</configuration>